/.idea
/1.py
/2.py
/3.py
/4.py
/5.py
/aplikasilogin.py
/blabla.py
/blablabla(2).py
/chat.py
/coba.py
/CRUD(1).py
/CRUD(2).py
/crud.py
/CRUD3.py
/haha.html
/hehehe.py
/kalkulator.py
/keretaapi.py
/latihan.py
/latihan1.py
/login(2).py
/login.py
/main.py
/traintrack.py
/Tugas.py
/Tugas10.py
/tugas14.py
/venv
/y.html
/__pycache__